<div class="wrapper">
  <div class="side">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
    <%= render "side_profile" %>
  </div>
  <div class="chat_header">
    <h3>経験値一覧</h3>
  </div>

  <div class="chat">
    <div class="contents row">
      <% @tweets.each do |tweet| %>
        <div class="content_post">
          <span class="name">
            <%= tweet.title %>
          </span>
          <p><%= tweet.text %></p>
        </div>
        <div class="more">
          <ul class="more_list">
            <li>
              <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
            </li>
            <li>
              <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

</div>